<ng-container *ngIf="data$ | async as detail">    
    <ng-container *ngIf="titleTemplate">
        <ng-template
            [ngTemplateOutlet]="titleTemplate.detail ?  titleTemplate.detail.template : titleTemplate.content"
            [ngTemplateOutletContext]="{$implicit: detail}">
        </ng-template>
    </ng-container>
    
    <mat-dialog-content *ngIf="contentTemplate">
        <ng-template
            [ngTemplateOutlet]="contentTemplate.detail ? contentTemplate.detail.template : contentTemplate.content"
            [ngTemplateOutletContext]="{$implicit: detail}">
        </ng-template>
    </mat-dialog-content>
    
    <mat-dialog-actions *ngIf="actionsTemplate">
        <ng-template 
            [ngTemplateOutlet]="actionsTemplate.detail ? actionsTemplate.detail.template : actionsTemplate.content"
            [ngTemplateOutletContext]="{$implicit: dialogRef}"
        ></ng-template>
    </mat-dialog-actions>
</ng-container>

<!-- <ng-template [ngTemplateOutlet]="closeTemplate.content"></ng-template> -->