<app-main>

  <app-form class="form">
    <ng-container *ngFor="let n of arr">
        <app-form-button>{{n}}</app-form-button>
    </ng-container>

    <app-form-input></app-form-input>
    <app-form-input></app-form-input>
    <app-form-input></app-form-input>
    
    <ng-container *ngFor="let n of arr">
        <app-form-badge>{{n}}</app-form-badge>
    </ng-container>
  </app-form>

  <app-list [list]="list" class="list"></app-list>

</app-main>

<app-modal>
    Modal tag here
  <app-modal-title>
    Title
  </app-modal-title>
  <app-modal-content>
    Modal here
  </app-modal-content>
  <app-modal-actions>
    <button mat-button>Modal Button</button>
  </app-modal-actions>
  <app-modal-close>
    <button mat-button>Modal Close Button</button>
  </app-modal-close>
</app-modal>