<app-main>
  <app-form class="form" (submit)="onSearch($event)">
    <ng-container *ngFor="let n of arr">
        <app-form-button>{{n}}</app-form-button>
    </ng-container>
    <app-form-input></app-form-input>
    <ng-container *ngFor="let n of arr">
        <app-form-badge>{{n}}</app-form-badge>
    </ng-container>
  </app-form>

  <app-list
    class="movie-list-container"
    [displayedColumns]="displayedColumns"
    [list]="list$ | async"
    (rowClick)="movieDetail.onOpen(onOpenDetail($event.imdbID))">
  </app-list>
</app-main>

<app-modal #movieDetail>
  <app-modal-title>
    <ng-template app-modal-title-detail let-detail>
      <h2>{{detail.Title}}</h2>
    </ng-template>
  </app-modal-title>
  <app-modal-content>
    <ng-template app-modal-content-detail let-detail>
        <ng-container *ngIf="detail['Poster'] && detail['Poster'] !== 'N/A'" >
          <img src="{{detail['Poster']}}" alt="Movie Poster" >
        </ng-container>
        <ng-container *ngFor="let item of objectKeys(detail)">
            <p *ngIf="detail[item] !== 'N/A' && item !== 'Poster' && item !== 'Ratings'">
              <strong>{{item}}:</strong> {{detail[item]}}
            </p>
        </ng-container>
    </ng-template>
  </app-modal-content>
</app-modal>

<!-- <button (click)="movieDetail.onOpen(onOpenDetail('tt5875282'))">OPEN MODAL OUSIDE</button> -->