<div *ngIf="data$ | async as data" style="text-align:center">
  form componente

  <div class="text-search-container">
    <form>
      <ng-container *ngFor="let inputTemplate of inputs">
          <mat-form-field class="mat-form-input-container">
            <ng-template [ngTemplateOutlet]="inputTemplate.content">
            </ng-template>
            <input matInput name="text" [(ngModel)]="data.s" placeholder="Search for Movie" (keyup)="onValueChange()">
          </mat-form-field>
      </ng-container>
    </form>
  </div>

  <div class="button-search-container">
    <ng-container *ngFor="let buttonTemplate of buttons">
        <button mat-raised-button (click)="onButtonClick()">
          <ng-template [ngTemplateOutlet]="buttonTemplate.content">
          </ng-template>
        </button>
    </ng-container>
  </div>

  <div class="badge-search-container">
    <ng-container *ngFor="let badgesTemplate of badges">
        <button mat-fab color="warn" (click)="onBadgeClick()">
          <ng-template [ngTemplateOutlet]="badgesTemplate.content">
          </ng-template>
        </button>
    </ng-container>
  </div>
</div>
