<div style="text-align:center">
  form componente
  
  <div class="text-search-container">
    <ng-content select=".text"></ng-content>
    <form>
      <mat-form-field>
        <input matInput placeholder="Search for Movie">
      </mat-form-field>
    </form>
  </div>

  <div class="button-search-container">
    <ng-content select=".buttons"></ng-content>
    <button mat-raised-button>Button</button>
  </div>

  <div class="badge-search-container">
    <ng-content select=".badges"></ng-content>
    <button mat-fab color="warn">Filter</button>
  </div>

  <div class="text-search-container">
    <form>
      <ng-container *ngFor="let inputTemplate of inputs">
          <mat-form-field>
            <ng-template [ngTemplateOutlet]="inputTemplate.content">
            </ng-template>
            <input matInput placeholder="Search for Movie">
          </mat-form-field>
      </ng-container>
    </form>
  </div>

  <div class="button-search-container">
    <ng-container *ngFor="let buttonTemplate of buttons">
        <button mat-raised-button>
          <ng-template [ngTemplateOutlet]="buttonTemplate.content">
          </ng-template>
        </button>
    </ng-container>
  </div>

  <div class="badge-search-container">
    <ng-container *ngFor="let badgesTemplate of badges">
        <button mat-fab color="warn">
          <ng-template [ngTemplateOutlet]="badgesTemplate.content">
          </ng-template>
        </button>
    </ng-container>
  </div>
</div>
